
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
nav#block-superfish-1 { background-color: #000;  margin-top: 0px; }



.view-producten {
  div.views-field.views-field-nothing {   }


  div.views-row.views-row-5   div.views-field.views-field-nothing { border: 1px  #6c8391 solid; }
  img { margin-top: 20px; width: 80%; }

  div.view-content {   }

  div.views-row { float:left; width: 23.6%;  margin: 1em 10px 1em 10px;  }
  div.views-row.views-row-1 { margin: 1em 10px 1em 0px; }
  div.views-row.views-row-2 { margin: 1em 10px 1em 10px; }
  div.views-row.views-row-3 { margin: 1em 10px 1em 10px; }
  div.views-row.views-row-4 { margin: 1em 0px 1em 10px; }
  div.views-row.views-row-5 { margin: 1em 10px 1em 0px; }
  div.views-row.views-row-6 { margin: 1em 10px 1em 10px; }
}
div.block-prd-row { width: 100%; display: inline-block; }
div.region.region-prd-block-1 { float:left; float: left; margin-right: 1em; width: 32.2%; }
div.region.region-prd-block-2 { float:left; float: left; margin-right: 1em; width: 32.2%; }
div.region.region-prd-block-3 { float:left; float: left; margin-right: 0;   width: 32.2%; }
div.region.region-prd-block-4 { float:left; float: left; margin-right: 1em; width: 32.2%; }
div.region.region-prd-block-5 { float:left; float: left; margin-right: 1em; width: 32.2%; }
div.region.region-prd-block-6 { float:left; float: left; margin-right: 0;   width: 32.2%; }


div.region.region-tertiary-content  div.region-inner {
   nav { width: 13%;  margin-left: auto; margin-right: auto;  float: left; padding-left: 3em; padding-right: 2em; }

}



div#views_slideshow_cycle_teaser_section_slideshow-block.views-slideshow-cycle-main-frame.views_slideshow_cycle_teaser_section
{
  height: 250px;
}


 .view-merk-productcategorien
 {
    div.views-field.views-field-title.Logo { display: none; }
    div.view-content {  margin-top: -60px; }
    div.views-field.views-field-nothing { margin: 1em 0em 1em 0em;  }
    div.views-row { float: left; width: 32%; text-align: center; }
    div.views-row.views-row-1 { margin: 1em 10px 1em 0px; }
    div.views-row.views-row-2 { margin: 1em 10px 1em 10px;  }
    div.views-row.views-row-3 { margin: 1em 0px 1em 10px; }
    div.views-row.views-row-4 { margin: 1em 10px 1em 0px; }
    div.views-row.views-row-5 { margin: 1em 10px 1em 10px; }
    div.views-row.views-row-6 { margin: 1em 0px 1em 10px;  }

 }

.view-blokken-product-boven-product-cat {
  div.views-field-nothing {
   span.views-field.views-field-title {  font-weight: bold; font-size: 150%;  }
   span.views-field.views-field-subtitle { font-style: italic; font-size: 100%;  }
                          }
                                        }


                                        .node-type-webform
                                        { input:focus { color: #6c8391; }

                                          input[type='text'] { max-width: 100%; width: 100%;  background-color: #D6DEE2; color: #111;  }
                                          input[type='email'] { max-width: 100%; width: 100%;  background-color: #D6DEE2; color: #111;  }
                                          textarea {
                                            width: 58em;
                                            height: 8em;
                                            background-color: #D6DEE2; color: #111;
                                        }

                                          .form-item {
                                            padding: 10px 0 10px 200px;
                                            position: relative;
                                          }
                                          .form-item label {
                                            left: 0;
                                            position: absolute;
                                          }


                                          div.form-item.form-type-radio {
                                            padding: 10px 0 10px 50px; }

                                        }

                                        .page-node-171 {
                                          /* contact form */
                                          table, tr, th, td, tbody { border: none; }
                                          td { padding: 0; }
                                          tr.info, tr.even, tr:nth-child(2n+2) { background: none; }
                                          td:nth-child(2) { text-align: right; }
                                        }
.front section#main-content { display: none; }


div.region.region-tertiary-content  div.region-inner li { margin-bottom: 0.1em; }